*{
    padding: 0;
    margin: 0;
  }
  
  .sidenav {
    height: 100%;
    width: 181px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
    padding-top: 18%;
    
  }
  
  .sidenav li {
    /* top: 30%; */
    position: absolute;
    list-style: none;
    right: 12%;
  }
  
  .sidenav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
    padding: 6px 8px 6px 16px;
    margin-bottom: 34px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: #000801;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    border-left: 6px solid #6681d8;
  }
  .logo img{
    width: 89%;
      position: absolute;
      top: 4%;
      left: 6%;
  }
  
  #active{
    color: #000801;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    border-left: 6px solid #6681d8;
  
  }
  
  .main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart {
    width: 30%;
    padding: 10px;
    height: 160px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(187, 183, 183);
    margin: 3px;
    font-size: 12px;
  }
  
  
  #chart1::before {
  content: "Temperature";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* font-weight: bold; */
  }
  #chart2::before {
  content: "pH";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* font-weight: bold; */
  }
  #chart3::before {
  content: "EC";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* font-weight: bold; */
  }
  #chart4::before {
  content: "TDS";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* font-weight: bold; */
  }
  #chart5::before {
  content: "Turbidity";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* font-weight: bold; */
  }
  #chart6::before {
  content: "DO";
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 16px;
  /* fohnt-weigt: bold; */
  
  }
  #line-chart {
    width: 96.5%;
  
    margin: 10px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(187, 183, 183);
  
  background-color: #ffffff;
  }
  
  
  
  @media (max-width: 768px) {
    .chart {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .chart {
      width: 100%;
    }
  }
  
  .chart-container1 {
    width: 80%;
    margin: 0 auto;
  }
  