<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gauge Charts and Line Chart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css" />

  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  <script src="https://d3js.org/d3.v5.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 


  <script src="{{url_for('static',filename='script.js')}}"></script>

  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sidenav">
      <div class="logo">
        <img src="static\imgs\logo.png" alt="">
    </div>
        <li>
               <a href="#" id="active">Monitoring</a>
        <a href="#">Controlling</a>
        <a href="#">Notifications</a>
      </div> 
        </li>
    
<div class="main">
  <div id="myCharts">
      <div class="chart-container">
        <div id="chart1" class="chart" ></div>
        <div id="chart2" class="chart"></div>
        <div id="chart3" class="chart"></div>
        <div id="chart4" class="chart"></div>
        <div id="chart5" class="chart"></div>
        <div id="chart6" class="chart"></div>
        <canvas id="line-chart" class="chart" style="height: 245px;"></canvas>
      </div>
      <script>
        var gaugeData;
        {% if data %}
        var gaugeData = [
        ['Temp', {{data['temp']}}],
      ['pH', {{data['ph']}}],
      ['EC', {{data['ec']}}],
      ['TDS', {{data['tds']}}],
      ['Turbidity', {{data['turbidity']}}],
      ['Humidity', {{data['humidity']}}]
    ];
    {% endif %}
    
    var chartColors = ['#60B044', '#F6C600', '#F97600', '#FF0000', '#9C27B0', '#03A9F4'];
    
    var gaugeOptions = [
      { min: 0, max: 100},
      { min: 0, max: 14 },
      { min: 0, max: 25000 },
      { min: 0, max: 1500 },
      { min: 0, max: 5 },
      { min: 0, max: 100 }
    ];

    gaugeData.forEach(function(item, index) {
      var chart = c3.generate({
        bindto: '#chart' + (index + 1),
        data: {
          columns: [
            [item[0], item[1]]
          ],
          type: 'gauge'
        },
        gauge: {
          label: {
            format: function(value, ratio) {
              return value;
            }
          },
          min: gaugeOptions[index].min,
          max: gaugeOptions[index].max,
          width: 15,
          units: ''
        },
        color: {
          pattern: [chartColors[index]]
        }
      });
    });
    
    </script>
  </div>
</div>

        
</body>
</html> 